include ../index.pug 
link(rel="stylesheet" href="../styles/info/index.css")

// h1= data.ruta

section(class="mainInfo")
	p
		span= 'argumentos: ' + data.argumentos

	p
		span= 'plataforma: ' + data.plataforma

	p
		span= 'versionNode: ' + data.versionNode

	p
		span= 'memoriatotal: ' +data.memoriatotal

	p
		span= 'rutaExect: ' +data.rutaExect

	p
		span= 'IdProceso: ' +data.IdProceso

	p
		span= 'carpetaProyecto: ' +data.carpetaProyecto
		
	p
		span= 'nucleos: ' +data.nucleos